.spinner {
  width: 100%;
  position: relative;
  display: table;
  border-collapse: separate;
  > input { 
    text-align: start;
    width: 100%;
  }
  .btn-wrapper {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
    left: -1.2rem;
  }

  .up-down-buttons {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    -webkit-appearance: button;
    > i {
      position: absolute;
      top: 0;
      left: 4px;
    }

    &.up-button { border-top-right-radius: 4px; }
    &.down-button {
      margin-top: -2px;
      border-bottom-right-radius: 4px;
    }
  }
}
