#root {
  margin: 0 auto;
  max-width: 980px;
}

.just-wrap {
  padding: 0;
}

.l-header {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 3rem;
  padding-bottom: 3rem;
  color: #fff;
}

@import 'routine';
@import 'spinner';

body {
  background-color: #26C281;
}
