#root {
}

.just-wrap {
}

.l-header {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 3rem;
  padding-bottom: 3rem;
  color: #fff;
}

@import 'routine';
@import 'spinner';

body {
  background-color: #26C281;
}
