.routine {
  border-radius: 9px;
  border: 1px dashed black;
  margin: 3px 9px 9px;
  padding-top: 9px;
      max-width: 300px;
            display: inline-block;
                vertical-align: top;
}
